/* Detailed View Page  */

.detailed-view{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.detailed-left-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:translateY(-15%) ;
}
.detailed-right-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.detailed-right-container>h1{
    padding: 0px 10px;
}
.detailed-right-container>h4{
    padding: 0px 10px;
    color: orangered;
}
.detailed-cound-container{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.detailed-cound-container>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detailed-cound-container>div>h1{
    font-size: 50px;
}
.ingredients-header{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 2px gray;
    border-radius: 2px;
    padding:10px 20px ;
}
.making-guide{
    box-shadow: 0px 0px 2px gray;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.making-guide>ul{
    max-width: 500px;
    line-height: 25px;
    font-size: 17px;
    color: gray;
    font-weight: 600;
}
.making-guide>p{
    text-indent: 100px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    color: gray;
}
.detailed-left-container>img{
    height: 60%;
    width: 90%;
    box-shadow: 0px 0px 5px;
    border-radius: 8px;
}
@media screen and (max-width:1000px) {
    .detailed-view{
        flex-direction: column;
    }
    .detailed-left-container{
        transform: none;
    }
}



/* Error Page  */
.heading-error{
    display: flex;
}
.heading-error>img{
    height: 100px;
    width: 100px;
}
.sandwitch-image{
    transform: rotate(-20deg);
}
.error-page{
    display: flex;  
    height: 100vh;
    justify-content: center;
    align-items: center ;
}
.error-page-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}
.error-page-container>p{
    color: rgb(161, 159, 159);
    text-align: center;
    font-weight: 900;
}
.not-found{
    font-weight: 900;
    color: gray;
    font-size: 20px;
}
.error-page-container>button{
    padding: 10px 25px;
    color: white;
    font-weight: 900;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}


/* Add Recipe Page */

.add-recipe-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.add-recipe-container>h2{
    text-align: center;
    margin-bottom: 20px;
}
.add-recipe-form{
    display: flex;
    box-shadow: 0px 0px 5px;
    height: auto;
    border-radius: 5px;
}
@media screen and (max-width:930px) {
    .add-recipe-form{
        flex-direction: column;
    }
}
@media screen and (max-width:475px) {
    .add-recipe-form{
        flex-direction: column;
    }
    .count-container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .count-container>input{
        width: 100%;
    }
}
.add-recipe-left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}
.add-recipe-left>img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
}
.add-recipe-right{
    margin: 20px;
    flex: 1;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.upload-image{
    outline: 2px double red;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px;
    width: 92%;
}
.add-recipe-right>input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 2px double red;
    font-weight: 600;
}
.food-type-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text-area-desc{
    border: none;
    outline: 2px double red;
    min-height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}
.count-container{
    display: flex;
    gap: 15px;
}
.count-container>input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: 2px double red;
    font-weight: 600;
}
.ingredients-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ingredients-input-container>textarea{
    height: 200px;
    min-width: 300px;
    border-radius: 5px;
    padding: 5px;
    color: gray;
    font-weight: 900;
    border: none;
    outline: 2px double red;
}
.submit-create-button{
    padding: 10px 20px;
    background-color:orangered;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}